<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="js/myscript.js"></script>
  </head>
  <body ng-app="MyApp" ng-controller="MyCtrl">
    <div class="container">
      <div class="jumbotron py-3">
        <h1 class="text-center">{{title}}</h1>
        <h2>Update on Coronovirus</h2>
        <!-- <button ng-click="changeValue()">
                Btn
            </button> -->

        <!-- All data -->

        <!-- <div ng-if="c">
          <p>you selected {{c}}</p>
        </div> -->

        <!-- end of all data -->

        <!-- Form -->
        <!-- <input
          type="text "
          class="form-control mt-4"
          placeholder="enter country"
          ng-model="c"
          ng-change="get_cData()"
        /> -->

        <!-- <div>
          <p>Select a country</p>
        </div> -->

        <!-- view start -->

        <!-- view end -->

        <div>
          <a href="#!courses">Courses@geeksforgeeks</a>
          <br />
          <a href="#!internships">Internships@geeksforgeeks</a>
          <br />
          <div ng-view></div>
        </div>
        <!-- drop down -->

        <div class="dropdown">
          <!-- <label for="c">Choose a country:</label> -->
          <!-- <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown button
          </button> -->

          <!-- <select
            ng-options="x for x in countryList"
            ng-model="c"
            ng-change="get_cData()"
          >
    
          </select> -->
        </div>

        <div ng-if="c" class="mt-4">
          <h3>you selected {{c}}</h3>
        </div>

        <!-- end drop down -->
        <!-- c data -->
        <a href="#!country">go to country</a>
        <button class="btn-primary" ng-click="get_cData" href="#!internships">
          For country
        </button>
        <!-- <div ng-view></div> -->
        <!-- end c data -->
      </div>
    </div>
  </body>
</html>
